# Virtual environment
venv/
.env
__pycache__/
*.pyc
user_auth.db

# Output files
outputs/
*.log
*.txt
# OS / Editor files
.DS_Store
Thumbs.db

# VSCode / JetBrains / IDE configs
.vscode/
.idea/
".env"

*.db
*.sqlite
*.sqlite3
.env